<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Order for</th>
      <th>Resturants</th>
      <th>Invited</th>
      <th>Joined</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @allorders.each do |order| %>
      <tr>
        <td><%= order.order_for %></td>
        <td><%= order.order_from %></td>
        <td class="orders_list">
        <%= order.invited %>
        </td>
        <td><%= order.joined %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order %></td>
        <% if order.user_id == current_user.id %>
          <% if order.status != "finished"%>
          <td><%= link_to 'Finish', finishorder_path(order) %></td>
          <% else %>
          <td></td>
          <% end %>
          <td ><%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
