<p id="notice"><%= notice %></p>

<p>
  <strong>Order for:</strong>
  <%= @order.order_for %>
</p>

<p>
  <strong>Order from:</strong>
  <%= @order.order_from %>
</p>

<p>
  <strong>Menu image:</strong>
  <%= @order.menu_image %>
  <%= @order.avatar%>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<%= image_tag @order.avatar.url(:thumb) %>
<%= image_tag @order.avatar.url(:thumb) if @order.avatar? %>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
